<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>로또 당청 횟수를 알아보자.</h1>
  <hr>
  <h2>이번 회차 당첨 번호 : {{ numbers }} + {{ bonus_number }}</h2>
  {% for result in results %}
    <ul>
      <li>
        {% if forloop.last %}
          꽝 : {{ result }}번
        {% else %}
          {{ forloop.counter }}등 : {{ result }}번
        {% endif %}

        
      </li>
    </ul>
    

  {% endfor %}
</body>
</html>